{% extends 'base/base.html' %}

{% block title %}Update Vehiculo View{% endblock title %}

{% block content %}
<div class="px-4 md:px-10 mx-auto w-full -m-24">
  <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
      > 
          <div style="display: flex; flex-wrap: wrap; justify-content: space-between; pading: 0 1rem;">
            <div style="flex: 1; width: 40%;" class="p-4">
                <!-- Primer grupo de campos en la primera columna -->
                {{ form.numSerie.label_tag }}
                {{ form.numSerie }}
                
                {{ form.placas.label_tag }}
                {{ form.placas }}

                {{ form.usaDiesel.label_tag }}
                <div  class="flex items-center"><div style="width: 1rem;">{{ form.usaDiesel }}</div><p style="margin: 0 .5rem;">Si</p> </div>
            </div>
            
            <div style="flex: 1; width: 40%;" class="p-4">
                <!-- Segundo grupo de campos en la segunda columna -->
                {{ form.kilometraje.label_tag }}
                {{ form.kilometraje }}
                
                {{ form.fechaAdquisicion.label_tag }}
                {{ form.fechaAdquisicion }}

                {{ form.conductor.label_tag }}
                {{ form.conductor.num }}
            </div>
          </div>
          <div class="w-full flex justify-center items-center" style="margin: 2rem 0 ;">
            <div class="rounded-xl p-4 bg-emerald-500 ">
              <a href="{% url 'home:vehiculoindex' %}" class=" text-white ">Cancel</a>
            </div>
            <div class="rounded-xl p-4 bg-red-500" style="margin: 0 2rem;">
              <button type="submit" class="text-white">Delete</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}